
body {
    display: flex;
    align-items: center;
    justify-content:left ;
    height: 100vh;
    margin: 10px;
    font-family: Arial, sans-serif;
    background-color: #d1a9e8;
  }
  
  .stopwatch {
    margin: 200px;
    margin-left: -280px;
    text-align: center;
    background-color: #7d5597;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #stop{
   margin-top: -200px;
   margin-left: 480px;
   text-align: center;
   text-decoration-line:underline ;
  }
  .time {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  
  .lap-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .lap-item {
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  